{% extends 'sheader.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">


	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>View Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->


	<!-- more products -->
	<br>
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					
				</div>
			</div>
            <br>
			<div class="row">
				{% for i in product %}
				<div class="col-lg-5 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'pdetails' pk=i.pk %}"><img src="{{i.pimage.url}}" alt=""></a>
						</div>
						<h3>{{i.pname}}</h3>
						<p class="product-price"><span>Per Kg</span> {{i.pprice}}</p>
						
					</div>
				</div>
				{% endfor %}
				
				
			</div>
		</div>
	</div>
	<!-- end more products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	

</body>
</html>
{% endblock %}